@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap');

body{
    margin: 20px;
    box-sizing: border-box;
    line-height: 1.3rem;
    font-size: 1rem;
    background-image: url(../img/sfondo.png);
    font-family: poppins,sans-serif;
    font-weight: 600;
}


    

#container .logo{
    width: 50%;
    margin-left: 10rem;
   
}

#contenitore-logo{
    margin: 25px 0;
    margin-bottom: 20px;
    padding: 35px 0;
    background: rgb(47,107,133);
    background: linear-gradient(183deg, rgba(47,107,133,1) 100%, rgba(0,0,0,1) 100%);
    

}

#container .sotto{
    color: white;
    text-align: center;

}

#container main{
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
}

h1{
    font-size: 2em;
    margin-top: 16px;
    margin-bottom: 16px;
}

span{
    color: rgba(128, 128, 128, 0.395);
   
}

#container main p{

    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 20px;
}

#tabella{
    border-bottom: 2px solid rgb(19, 44, 184);
    width: 100%;

}
#tabella tbody td{
    padding: 26px;
}


#tabella .titolo-table{
   padding: 16px;
}

#tabella thead th{
    border: 1px solid rgb(7, 128, 241);
    padding: 25px;
    background-color: rgb(7, 128, 241);

}

#container ul, ol{
    list-style-type: disc;
}




/*background-color.\rgb 192 192 192;
border. 1px solid #808080;
border-radius. 5px;
padding. 2px;
*/