
<form class="d-flex mt-3 d-flex justify-content-center">
  <input type="text" required placeholder="Inserisci testo" [(ngModel)]="newElementi.title" name="gusto" class="form-control w-25">
  <button (click)="salva()" class="btn d-flex align-items-center border-1">
    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="14" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.7-14.3-32-32-32h-32c-17.7 0-32 14.3-32 32v144H32c-17.7 0-32 14.3-32 32v32c0 17.7 14.3 32 32 32h144v144c0 17.7 14.3 32 32 32h32c17.7 0 32-14.3 32-32V304h144c17.7 0 32-14.3 32-32v-32c0-17.7-14.3-32-32-32z"/></svg>
  </button>
</form>

<div *ngIf="caricamento" class="d-flex mt-3 alert alert-success align-items-center">
  <strong role="status">Caricamento in corso...</strong>
  <div class="spinner-border text-success ms-auto" aria-hidden="true"></div>
</div>

<app-create></app-create>

