<div class="d-flex gap-2">
  <div *ngFor="let card of card" class="card text-bg-lightmb-3" style="max-width: 18rem;">
    <div appColoraTesto class="card-header">{{card.header}}</div>
    <div class="card-body">
      <h4 class="card-title">{{card.title}}</h4>
      <p class="card-text">{{card.text | testoGrande}}</p>
      <h5>{{card.author}}</h5>
      <p>{{card.boolean}}</p>
      <button class="btn btn-light" (click)="card.boolean = !card.boolean"
      [innerHTML]="card.boolean ? 'Abilita' : 'Disabilita'">Abilita/Disabilita</button>
    </div>
  </div>
  </div>
