<div *ngIf="!lista.length" class="d-flex mt-3 alert alert-success align-items-center">
  <strong role="status">Caricamento task in corso...</strong>
  <div class="spinner-border text-success ms-auto" aria-hidden="true"></div>
</div>

<div *ngIf="lista.length" class="d-flex justify-content-center">
  <div *ngFor="let li of lista" class="card mt-3 me-3 w-25">
    <h5 class="card-header">Utente con l'id {{li.id}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{li.title}}</h5>
      <button class="btn btn-info me-1" (click)="li.completed = !li.completed"
      [innerHTML]="li.completed ? 'Da Fare!' : 'Completati'">Da Fare!/Completati</button>
      <button class=" btn btn-danger" (click)="delete(li.id)">Elimina</button>
    </div>
  </div>
</div>
