body{
    font-family: Helvetica, sans-serif;
    color: #732104;
    line-height: 20px;
    height: 100vh;
}
.container{
    padding: 20px;
    display: flex;
}

.container-shop{
    background-color: rgba(238, 168, 38, 0.246);
    border-radius: 30%;
    height: 350px;
    padding: 20px 30px;
    width: 100%;
}

.shop{
    position: relative;
    background-color: #FFDF7F;
    border-radius: 80px;
}

.shop-ape{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    justify-content: center;
}

.shop h2{
    font-size: 45px;
    font-weight: bold;
}

.ape{
    padding-right: 20px;
    width: 60px;
}

.mini-container{
 width: 100%;
}

.mini-4{
    display: flex;
    align-items: center;

}
.mini2{
    margin: 10px;
    width: 50%;
}

.mini3{
    margin: 10px;
    width: 50%;
}

.mini-elementi{
    background-color: #FFDF7F;
    padding: 10px; 
    margin-top: 22px;
    font-size: 22px;
}