body{
    font-family: Helvetica, sans-serif;
    color: #732104;
    line-height: 33px;
    height: 100vh;
    padding: 20px;
}
.container{
    display: flex;
    margin-bottom: 20px;
}

.container-shop{
    background-color: rgba(238, 168, 38, 0.246);
    border-radius: 30%;
    height: 320px;
    padding: 20px 30px;
    width: 100%;
}

.shop{
    position: relative;
    background-color: #FFDF7F;
    border-radius: 80px;
}

.shop-ape{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    cursor: pointer;
    justify-content: center;
}

.shop h2{
    font-size: 40px;
    font-weight: bold;
}

.ape{
    padding-right: 20px;
    width: 60px;
}

.mini-container{
 width: 100%;
}

.mini-4{
    display: flex;
    align-items: center;

}
.mini2{
    margin: 10px;
    width: 50%;
    margin-top: 0;
}

.mini3{
    margin: 10px;
    width: 50%;
    margin-top: 0;
}

.mini-elementi, .mini-elementi1{
    background-color: #FFDF7F;
    padding: 10px; 
    margin-top: 22px;
    font-size: 22px;
    padding: 22px;
    border-radius: 33px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

main h1{
    text-align: center;
    font-size: 48.6px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 20px
}

.card-honey{
    background-color: rgba(238, 168, 38, 0.246);
    margin-top: 0;
    border-radius: 55px 55px;
    height: 55vh;
    margin-bottom: 20px;
}

.honey{
    width: 100%;
    margin-bottom: 0;
    border-radius: 55px 55px 0 0;
}

.honey-text{
    padding: 0 20px;
}
.honey-text h3{
    font-weight: bold;
    font-size: 25px;
}
.honey-text p{
    font-size: 20px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text p{
    font-size: 20px;
    margin-bottom: 10px;
}

.honey-add{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.honey-add p{
    background-color: #FFDF7F;
    padding: 5px;
    border-radius: 55px;
    width: 250px;
    margin-left: 100px;
}

footer h2{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}
footer h3{
    font-size: 20px;
    font-weight: 800;
}

.container-foo{
    background-color: rgba(238, 168, 38, 0.246);
    padding: 20px;
    border-radius: 30px;
}

.foo-text p{
    line-height: 24px;
    margin-bottom: 10px;
}
.foo-text img {
    width: 100%;
}