:root{
    --ColorY:#ffc017;
}

body{
    line-height: 20px;
    font-size: 18px;
}

nav{
    border-bottom: 1px solid;
    background-color: var(--ColorY);
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}
.container-logo{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    position: relative;

}
.logo-list{
    display: flex;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logo-list p{
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}

.logo-list a{
    text-decoration: none;
    color: black;
}
.btn{
    border: none;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
.container-section{
    background-color: var(--ColorY);
    border-bottom: 1px solid;
    margin-top: 80px;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.container-section-text{
    margin: 150px 0 100px 100px;
    text-align: start;
}
h1{
    font-size: 5.7em;
    padding-bottom: 70px;
}
.container-section-text p{
    font-size: 23px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 60px;
}
.container-section-text button{
    border: none;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    padding: 10px 40px;
    cursor: pointer;
}

.container-section-text button:hover{
    background-color: black;
}

svg{
    opacity: 1;
    animation: random 2s infinite;
}

.container-main{
    margin: 20px 90px;
    width: 14%;
}

.container-main-articoli{
    display: flex;
    padding: 0  10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 80px;
}
main{
border-bottom:1px solid rgba(0, 0, 0, 0.138);
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.trending{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trending h4{
    font-weight: bold;
}

.articoli-main{
    width: 33%;
    display: flex;
    margin-bottom: 30px;
}

.articoli-main .number{
    font-size: 32px;
    color: #F2F2F2;
    padding-right: 10px;
}
.profilo{
    width: 25%;
}

.profilo p{
    font-weight: bold;
    font-size: 15px;
}

.profilo span{
    font-size: 12px;
}

.profilo .utente{
    display: flex;
    align-items: center;
}
.utente img{
    width: 20px;
    border-radius: 100%;
    margin-right: 10px; 
}
.utente h5 a{
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.articoli{
    display: flex;
}

.articoli-section{
    margin: 50px 90px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.profilo-section{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.profilo-section img{
    width: 30px;
    margin-right: 10px;
}

.articoli-section p{
    font-size: 14px;
}

.articoli-section h5{
    font-size: 17px;
    font-weight: bold;
}

.profilo-section a {
    text-decoration: none;
    color: black;
}

.date-list{
    font-size: 13px;
}

.date-list ol{
    list-style: none;
    display: flex;
    align-items: center;
}

.date-list li a{
    text-decoration: none;
    color: black;
}

.date-list  img{
    margin-top: 9px;
    margin-left: 3px;
    text-align: center;
    width: 17px;
}

.date-list li:nth-of-type(3){
    background-color: #f2f2f2;
    padding: 7px;
    border-radius: 30px;
}

.articoli-section .art-img{
    width: 200px;
    margin-left: 40px;
}

.articoli-section{
    display: flex;
    height: 150px;
    width: 45%;
}

.boolmark{
    margin-top: 100px;
    opacity: 0.8;
}

.boolmark:hover{
    opacity: 1;
}

aside{
    position: relative;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.container-aside{
    position: absolute;
    top: -55.7em;
    right: 0;
    width: 45%;
    height: 10vh;
}

.container-aside h3{
    font-weight: bold;
}

.container-aside a{
    color: green;
    text-decoration: none;
}

.contaier-link{
    padding: 10px;
    font-size: 15px;
}

.contaier-link a{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: #f2f2f2;
    line-height: 50px;
    border-radius: 50px;
}
footer{
    position: relative;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-foo-list{
    position: absolute;
    top: -45em;
    right: 0;
    width: 45%;
    height: 10vh;
    padding-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.059);
    
}

.container-foo-list ul{
    display: flex;
}

.container-foo-list li{
    list-style: none;
    margin-right: 15px;
    font-size: 13px;
}

.container-foo-list a{
    text-decoration: none;
    color: black;
}


/*********************
*   KEYFRAMES
*********/
@keyframes random {
0%{opacity: 1;}   
50%{opacity: 0;}   
100%{opacity: 1;} 
    
}